# Prerequisites
*.d
.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

include/apply_PID_force_velocity.h
src/apply_PID_force_velocity.cpp
Modelli_DT_robot/*
*/__pycache__/

*.pkl
